
@model Web.Models.SatisfactionViewModel

@{
    ViewBag.Title = "View";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<h2>teeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeest</h2>
@Html.DisplayFor(model => model.likes)
@Html.DisplayFor(model => model.dislikes)



<canvas id="pie-chart" width="80" height="45"></canvas>
<script>
    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
            labels: ["Accepted", "Refused"],
            datasets: [{
                label: "treaitment",
                backgroundColor: ["#3e95cd", "#8e5ea2"],
                data: [@Html.DisplayFor(model => model.likes), @Html.DisplayFor(model => model.dislikes)]
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Request Traitment'
            }
        }
    });
</script>

